---
import Layout from "@/layouts/Layout.astro";
import Mission from "@/sections/Mission.astro";
---

<Layout title="Sobre Nosotros | Taller de Desarrollo">
  <main class="w-full text-center text-blue-dark-950">
    <section class="py-12 md:py-24 lg:py-32 xl:py-48 animate-pulse-fade-in ">
      <div class="container px-4 md:px-6 mx-auto">
        <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none lg:mb-5">
          Sobre nosotros, nuestra historia.
        </h1>
        <p class="text-lg text-center text-ghost-white-600">
          En Taller de Desarrollo, hemos estado en una misión desde el principio:
          democratizar el acceso a la tecnología y hacer que las soluciones
          digitales sean accesibles para todos.
        </p>
      </section>

      <section class="py-12 md:py-24 lg:py-32 xl:py-48 animate-pulse-fade-in ">
        <div class="grid grid-cols-2 container mx-auto md:gap-10">
        <article class="p-5 bg-white flex flex-col rounded-lg">
          <h2 class="text-2xl md:text-3xl font-bold mb-4">Nuestra Misión</h2>
          <p class="text-lg text-ghost-white-600 mb-4">
            En el corazón de todo lo que hacemos está nuestra misión: facilitar
            el éxito digital para todos.
          </p>
          <p class="text-lg text-ghost-white-600 mb-4">
            Creemos que cada negocio, grande o pequeño, merece tener una
            presencia en línea sólida y efectiva.
          </p>
          <p class="text-lg text-ghost-white-600 mb-4">
            Nos esforzamos por ofrecer soluciones personalizadas, rápidas y
            económicas que ayuden a nuestros clientes a alcanzar sus objetivos
            digitales de manera eficiente y sin complicaciones.
          </p>
        </article>
        <article class="p-5 bg-white flex flex-col rounded-lg">
          <h2 class="text-2xl md:text-3xl font-bold mb-4">Nuestro Enfoque</h2>
          <p class="text-lg text-ghost-white-600 mb-4">
            En TdD, nos enorgullece ofrecer un enfoque único y
            orientado al cliente en todo lo que hacemos.
          </p>
          <p class="text-lg text-ghost-white-600 mb-4">
            Nos comprometemos a trabajar estrechamente con cada cliente para
            comprender sus necesidades y objetivos específicos, y luego
            desarrollar soluciones que superen sus expectativas.
          </p>
          <p class="text-lg text-ghost-white-600 mb-4">
            Nuestro equipo altamente calificado y experimentado está aquí para
            guiarlo en cada paso del proceso, desde la concepción hasta la
            implementación y más allá.
          </p>
        </article>
        <article class="p-5 bg-white flex flex-col rounded-lg">
          <h2 class="text-2xl md:text-3xl font-bold mb-4">Nuestros Valores</h2>
            <p class="text-lg text-ghost-white-600 mb-4">Ponemos las necesidades y la satisfacción de nuestros clientes en el centro de nuestro enfoque.</p>
            <p class="text-lg text-ghost-white-600 mb-4">Buscamos constantemente nuevas formas de mejorar y ofrecer soluciones creativas a los desafíos digitales.</p>
            <p class="text-lg text-ghost-white-600 mb-4">Trabajamos en equipo y valoramos la diversidad de ideas y experiencias.</p>
            <p class="text-lg text-ghost-white-600 mb-4">Nos esforzamos por alcanzar los más altos estándares en todo lo que hacemos.</p>
        </article>

        <article class="p-5 bg-white flex flex-col rounded-lg">       
          <h2 class="text-2xl md:text-3xl font-bold mb-4">Nuestro Equipo</h2>
          <p class="text-lg text-ghost-white-600 mb-4">
            Nuestro equipo está formado por profesionales apasionados y dedicados que comparten un compromiso común de ofrecer soluciones digitales excepcionales a nuestros clientes.
          </p>
          <p class="text-lg text-ghost-white-600 mb-4">Cada miembro de nuestro equipo aporta una amplia experiencia y conocimientos especializados en su área de trabajo, lo que nos permite ofrecer un servicio integral y de alta calidad en todos nuestros proyectos.</p>
        </article>    
      </div>
      </section>

      <Mission />

      <!-- <section class="py-12 md:py-24 lg:py-32 xl:py-48 animate-pulse-fade-in ">
        <h2 class="text-2xl md:text-3xl font-bold mb-4">Únete a Nosotros</h2>
        <p class="text-lg text-ghost-white-600 mb-4">
          Conoce al equipo detrás de TdD: un grupo de
          profesionales apasionados y dedicados que están aquí para ayudarte a
          alcanzar tus metas digitales.
        </p>
        <p class="text-lg text-ghost-white-600 mb-4">
          ¿Interesado en formar parte de nuestro equipo o colaborar con nosotros
          en un proyecto? <br /> ¡Contáctanos hoy mismo para explorar las
          oportunidades!
        </p>
      </section> -->
  </main>
</Layout>
