---
import Hero from '@/sections/Hero.astro'
import Layout from "@/layouts/Layout.astro";
import Pricing from '@/sections/Pricing.astro'
import Services from '@/sections/Services.astro'

---

<Layout title="Taller de Desarrollo">
  <main class="text-blue-dark-950">
    <Hero />
    <Services />
    <Pricing />
  </main>
</Layout>
