---
import Layout from "../layouts/Layout.astro";
import Hero from '../sections/Hero.astro'
import Services from '../sections/Services.astro'
import Pricing from '../sections/Pricing.astro'

---

<Layout title="Taller de Desarrollo">
  <main class="text-blue-dark-950">
    <Hero />
    <Services />
    <Pricing />
  </main>
</Layout>
