---
interface Props {
	svg: SVGElement | any;
	title: string;
	body: string;
}

const { title, body, svg } = Astro.props;
---

<div class="flex flex-col items-center justify-center bg-white space-y-2 border border-gray-100 rounded-xl p-4 md:p-6 hover:shadow-lg hover:animate-tilt">
	<div class="flex items-center justify-center w-12 h-12 rounded-full bg-ghost-white-100">
		<img src={svg.src} alt="service logo" />
	</div>
	<div class="space-y-1 text-center">
	  <h3 class="text-lg font-bold tracking-tighter">{title}</h3>
	  <p class="text-sm text-ghost-white-600">
		{body}
	  </p>
	</div>
</div>

