<footer class="flex items-center justify-evenly w-full text-ghost-white-100 bg-blue-primary-700">
        <img
          src="/1.png"
          width="200"
          height="200"
          alt="Logo"
          class="rounded-lg"
          style="aspect-ratio: 40 / 40; object-fit: cover;"
        />
        
        <div class="flex flex-col items-center gap-2 text-xs sm:gap-4 md:gap-2 lg:gap-4 text-center">
          <p>© 2024 Taller de Desarollo | Todos los derechos reservados.</p>
          <nav class="flex gap-4 md:ml-auto">
            <a
            class="hover:underline"
            href="#"
          >
            Servicios
          </a>
          <a
            class="hover:underline"
            href="#"
          >
            Sobre Nosotros
          </a>
          <a
            class="hover:underline"
            href="#"
          >
            Contacto
          </a>
          <a
            class="hover:underline"
            href="#"
          >
            Politica de privacidad
          </a>
          <a
            class="hover:underline"
            href="#"
          >
            Terminos y condiciones
          </a>
        </nav>
      </div>
  </footer>