<footer class="w-full py-6 md:py-12">
    <div class="container flex flex-col items-center gap-4 px-4 md:px-6 text-center mx-auto">
      <div class="flex flex-col items-center gap-2">
        <img
          src="/1.png"
          width="200"
          height="200"
          alt="Logo"
          class="rounded-lg"
          style="aspect-ratio: 40 / 40; object-fit: cover;"
        />
        <p class="font-semibold text-sm sm:text-base">Software Factory</p>
      </div>
      <div class="flex flex-col items-center gap-2 text-xs sm:flex-row sm:gap-4 md:gap-2 lg:gap-4">
        <p class="text-blue-dark-950">
          Tenes dudas? Podes escribirnos a <span class="font-medium">+5493517382518</span> or email{" "}
          <span class="font-medium">tallerdedesarrollo@gmail.com</span>
        </p>
      </div>
      <div class="flex flex-col items-center gap-2 text-xs sm:flex-row sm:gap-4 md:gap-2 lg:gap-4">
        <p class="text-blue-dark-950">© 2024 Taller de Desarollo | Todos los derechos reservados.</p>
        <nav class="flex gap-4 md:ml-auto">
          <a
            class="text-blue-dark-950 hover:underline"
            href="#"
          >
            Servicios
          </a>
          <a
            class="text-blue-dark-950 hover:underline"
            href="#"
          >
            Sobre Nosotros
          </a>
          <a
            class="text-blue-dark-950 hover:underline"
            href="#"
          >
            Contacto
          </a>
          <a
            class="text-blue-dark-950 hover:underline"
            href="#"
          >
            Politica de privacidad
          </a>
          <a
            class="text-blue-dark-950 hover:underline"
            href="#"
          >
            Terminos y condiciones
          </a>
        </nav>
      </div>
    </div>
  </footer>