---

interface Props {
	badge: string;
	title: string;
	options: string[];
}

const { badge, title, options } = Astro.props;
---

<div
  class="flex flex-col gap-1 p-4 rounded-lg bg-white shadow-sm sm:grid sm:gap-4 sm:grid-rows-2 sm:grid-auto-rows-auto-1 lg:flex-col lg:items-center lg:gap-4 lg:grid-rows-none lg:grid-auto-rows-auto-1"
>
  <div class="inline-block rounded-lg bg-ghost-white-100 px-3 py-1 text-sm">
    {badge}
  </div>
  <h3 class="text-2xl font-bold">{title}</h3>
  <ul class="divide-y divide-ghost-white-200 px-5">
      {options.map((option: string)=>  
      <li class="flex items-center justify-center py-2 text-ghost-white-600">
        {option}
      </li>
      )
      }
  </ul>
  <a
    class="inline-flex h-9 items-center justify-center rounded-md border border-ghost-white-200 text-sm font-medium shadow-sm transition-colors bg-spring-green-500 text-white hover:bg-spring-green-300"
    href="#"
  >
    Consultar
  </a>
</div>
