<section class="w-full py-12 md:py-24 lg:py-32 xl:py-48 animate-pulse-fade-in">
    <div class="container px-4 md:px-6 w-full mx-auto">
      <div class="flex flex-col items-center space-y-4 text-center">
        <div class="space-y-2">
          <h1
            class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl lg:text-6xl/none lg:mb-5"
          >
            Construyendo soluciones digitales a tu medida <br /> ¡rápido y sin
            complicaciones!
          </h1>
          <p
            class="mx-auto max-w-[700px] text-ghost-white-500 md:text-xl"
          >
            Fácil, rápido y efectivo: Desde el diseño hasta la implementación,
            nuestro equipo te guiará en cada paso del proceso, asegurando un
            lanzamiento exitoso de tu producto digital.
          </p>
        </div>
        <div class="w-full max-w-sm space-y-2">
          <div class="flex justify-center">
            <button
              class="my-5 inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-blue-primary-500 text-white hover:bg-blue-primary-300 h-9 rounded-md px-3"
            >
              Agendá una Reunión Gratis
            </button>
          </div>
          <p class="text-xs text-ghost-white-500">
            Lleva tu idea digital al mercado en tiempo récord con nosotros
          </p>
        </div>
      </div>
    </div>
  </section>