---
import Speed from "@/Icons/Speed.astro";
import Savings from "@/Icons/Savings.astro";
---

<section class="w-full py-12 md:py-24 lg:py-32 xl:py-48 animate-pulse-fade-in">
  <div class="container px-4 md:px-6 w-full mx-auto">
    <div class="flex flex-col items-center space-y-4 text-center">
      <div class="space-y-2">
        <h2
          class="text-2xl font-bold tracking-tighter sm:text-3xl md:text-3xl lg:text-4xl/none lg:mb-5"
        >
          Nuestra misi칩n es ofrecer soluciones
          digitales efectivas y accesibles que generen un impacto inmediato en
          tu negocio.
        </h2>
        <p class="mx-auto max-w-3xl text-ghost-white-600 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
          No pierdas la oportunidad de hacer crecer tu emprendimiento o de buscar una soluci칩n digital para tu negocio.
        </p>
        <div class="flex flex-col lg:flex-row py-20 gap-10">
        <div class="flex flex-col justify-start items-center px-4 xl:py-6 rounded-lg bg-white">
          <Savings />
          <h3 class="text-xl py-5">Accesibilidad</h3>
          <p class="mx-auto max-w-[700px] text-ghost-white-600 md:text-lg">
            Entendemos la importancia de optimizar tus recursos. Por eso,
            ofrecemos precios competitivos y flexibles que se adaptan a tu
            presupuesto, sin sacrificar la calidad del trabajo realizado. 
          </p>
       </div>

        <div class="flex flex-col justify-start items-center px-4 xl:py-6 rounded-lg bg-white">
          <Speed />
          <h3 class="text-xl py-5">Rapidez</h3>
          <p class="mx-auto max-w-[700px] text-ghost-white-600 md:text-lg">
              Nuestro
              enfoque 치gil nos permite trabajar de manera eficiente y minimizar los
              tiempos de entrega. Con nosotros, puedes tener la seguridad de que tu
              proyecto estar치 en funcionamiento en poco tiempo, generando resultados
              tangibles para tu negocio. 
          </p>
        </div>

      </div>
      </div>
      <div class="w-full max-w-sm space-y-2">
        <div class="flex justify-center">
          <a
            class="my-5 inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-blue-primary-500 text-white hover:bg-blue-primary-300 h-9 rounded-md px-3"
            href="/contact"
          >
            Contactar
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
