---
import PricingCard from "@/components/PricingCard.astro";
---

<section class="w-full py-12 md:py-24 lg:py-32 xl:py-48">
  <div class="container px-4 md:px-6 mx-auto">
    <div class="flex flex-col gap-4 items-center justify-center text-center">
      <div class="space-y-2 flex flex-col justify-center items-center gap-5 mb-5">
        <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
          Planes a Medida para tu Negocio
        </h2>
        <p
          class="mx-auto max-w-3xl text-ghost-white-600 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed"
        >
        En Taller de Desarrollo, entendemos que cada negocio es único y tiene necesidades específicas. Por eso, hemos diseñado una variedad de planes adaptarnos a tus requerimientos.
        </p>
      </div>
      <div
        class="grid max-w-sm gap-4 sm:max-w-2xl sm:gap-8 lg:max-w-none lg:grid-cols-3"
      >
      <PricingCard
      title="Sitio web institucional"
      badge="Básico ó Avanzado"
      options={[
        "Diseño y desarrollo de un sitio web estático.",
        "Páginas principales: inicio, sobre nosotros, servicios, contacto.",
        "Diseño responsivo para dispositivos móviles.",
        "Integración básica de SEO.",
        "Funcionalidades avanzadas según necesidades específicas del cliente.",
      ]}
    />
    
    <PricingCard
      title="Aplicación de reservas"
      badge="Básico ó Avanzado"
      options={[
        "Desarrollo de una aplicación simple de reserva de turnos.",
        "Interfaz intuitiva para los usuarios finales.",
        "Funcionalidades básicas de reserva y gestión de citas.",
        "Integración básica con sistemas de notificación.",
        "Personalización avanzada según necesidades específicas del cliente.",
      ]}
    />
    
    <PricingCard
      title="Software a medida"
      badge="Básico ó Avanzado"
      options={[
        "Desarrollo de un software personalizado para una necesidad específica.",
        "Funcionalidades básicas según los requisitos del cliente.",
        "Diseño intuitivo y fácil de usar.",
        "Soporte técnico.",
        "Funcionalidades avanzadas según necesidades específicas del cliente.",
      ]}
    />
    
      </div>

    </div>
  </div>
</section>
